body{
    background-color:#fff;
    color:#a2a2a2; 
 .zagolovok{

 }
 .one{
     color: coral;
 }
 .telephone{
     color: crimson;
 }
 .two{
     color: crimson;
 }
 .email{
     color: crimson;
 }
 /*oglavlrnie */

.oglavlenie{
    color: yellowgreen;
    padding: auto;
}
.nomer{
    font-weight: 700;
    color: springgreen;
}
/* tegs*/
.google{
    color: darkblue;
    /*zadanie 6*/
    ."link-inline"
    .link-inline{

    }
}
colgroup
.


